.wrapper-footer {
  width: 1125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(234, 234, 234, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}
.first {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(33, 33, 33, 1);
}
.footer-ul {
  width: 630px;
  display: flex;
  justify-content: space-between;
}
.link-li {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(128, 126, 126, 1);
}
.end-img {
    margin-left: 190px;
    margin-top: 20px;
}